---
title: "Gnoland Network {{ if testnet }}Testnet{{ endif }}"
description: "Documentation for Gnoland {{ network.name }}"
---

# Gnoland Network {{ if testnet }}Testnet{{ endif }}

<Image src={`/icons/gnolandIcon.png`} alt={`Gnoland icon`} width={150} height={150} className="rounded-full" />

Documentation for Gnoland {{ network.chain_id }}

## Network Information

| Info | Data |
| :------------      | :----------      |
| Chain ID           | {{ network.chain_id }}      |
| Chain version      | {{ network.chain_version }}  |
| Network type       | {{ network.network_type }}   |

## Endpoints

| {{ network.name }}         | Links|
| :------------      | :----------|
| RPC                | {{ network.rpc }}      |

