---
title: "Validator setup for Gnoland"
description: "Validator setup for Gnoland"
---

# Validator setup for Gnoland

This guide will assume you have already set up your node. 
If you haven't, please refer to the [node setup guide](/networks/{{ network.network_type }}s/{{ network.path }}).

<Callout type="info" text={`Make sure to change values for moniker, identity, details website to your own values.`} />

<Callout type="info" text={`Gnoland is not like other Cosmos SDK based chains. Here when you pretty much send
a intent of creating the validator. Then the DAO on the Gnoland decides if you are accepted or not.
There are multiple factors the biggest one is contibution to the network.`} />

## Create keys and validator

```bash
# Environment variable
export DETAILS= details for validator
VALIDATOR_ADDRESS=$(gnoland secrets get validator_key | jq -r '.address')
VALIDATOR_PUB_KEY=$(gnoland secrets get validator_key | jq -r '.pub_key')
```

```bash
#Create the wallet ( replace #keyname with whatever name you want)
export WALLET= wallet_name
gnokey add $WALLET -home /home/gnoland/gnoland-data/
```

## Create validator proposal

```bash
gnokey maketx call \
-pkgpath "gno.land/r/gnoland/valopers" \
-func "Register" \
-gas-fee 1000000ugnot \
-gas-wanted 30000000 \
-broadcast \
-chainid {{ network.chain_id }} \
-args "$MONIKER" \
-args "$DETAILS" \
-args "$VALIDATOR_ADDRESS" \
-args "$VALIDATOR_PUB_KEY" \
-remote "https://rpc.test7.testnets.gno.land:443" \
$WALLET -home /home/gnoland/gnoland-data/
```