---
title: "{{ network.name }}"
description: "{{ network.description }}"
---

# {{ network.name }}

![{{ network.name }} icon](/icons/{{ network.image }}.png)

{{ network.description }}


## Network Information

| Info | Data |
| :------------      | :----------      |
| Chain ID           | {{ network.chain_id }}      |
| Chain version      | {{ network.chain_version }}  |
| Network type       | {{ network.network_type }}   |

## Endpoints

| {{ network.name }}         | Links|
| :------------      | :----------|
| REST API           | {{ network.rest_api }}      |
| RPC                | {{ network.rpc }}      |
| GRPC               | {{ network.grpc }}  |
| Wss | {{ network.wss }} |
